#combat-log {
    display: flex;
    flex-direction: column;
    max-height: 200px;
}
#combat-log li {
    list-style-type: none;
    background-clip: border-box;
    background-color: aliceblue;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    text-align: center;
}